<div class="card-deck border-0">
    <div class="card">
      <img src="../assets/images/Quests.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quests</h5>
        <a  [routerLink]="['quests']" class="btn">Show my quests</a>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/Gwent.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gwent Deck</h5>
        <a [routerLink]="['gwent']" class="btn">Show my Gwent deck</a>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/Achievements.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Achievements</h5>
        <a [routerLink]="['achievements']"  class="btn">Show my achievements</a>
      </div>
    </div>
  </div>
  